@import 'tailwindcss';

* {
	scroll-behavior: smooth;
	-webkit-tap-highlight-color: transparent;
	scroll-padding-block: 201px;
}

:root {
	--color-dark: #1a1a1a;
	--color-light: #fff;
}

@theme inline {
	--font-inter: var(--font-inter);
	--font-montserrat: var(--font-montserrat);

	--color-dark: var(--color-dark);
	--color-dark-hover: #2e2e2e;
	--color-light: var(--color-light);
	--color-light-gray: #f5f5f5;
	--color-primary: #daff02;
	--color-primary-light: #f4ffb1;
	--color-secondary: #bca5f9;
	--color-secondary-light: #f1ebff;
	--color-interact: #3aca2d;
	--color-interact-hover: #4ede41;
	--color-interact-active: #26b619;
	--color-disabled: #e5e5e5;
	--color-focus: #423dd9;
	--color-error: #ff4d4f;
	--shadow-focus: 0 0 4px 0 rgba(66, 61, 217, 0.55);
	--shadow-error: 0 0 4px 0 rgba(242, 73, 104, 0.45);
	--shadow-gray: 0 4px 4px 0 rgba(191, 191, 191, 0.25);

	--spacing-xxl: 7.5rem;
	--spacing-xl: 5rem;
	--spacing-lg: 3.75rem;
	--spacing-md: 2.5rem;
	--spacing-sm: 1.25rem;
	--spacing-xs: 0.625rem;
	--spacing-xxs: 0.375rem;

	--radius-sm: 10px;
	--radius-md: 20px;
	--radius-lg: 40px;

	--text-xxl: 3rem;
	--text-xl: 2rem;
	--text-lg: 1.25rem;
	--text-md: 1rem;
	--text-sm: 0.875rem;
	--text-xs: 0.75rem;

	--shadow-default: 0 4px 4px 0 rgba(0, 0, 0, 0.1);

	--breakpoint-xs: 30rem;

	--animate-subtle-glow: subtle-glow 2s ease-in-out infinite;

	@keyframes subtle-glow {
		0% {
			box-shadow: 0 0 0 0 rgba(58, 202, 45, 0.6);
		}
		70% {
			box-shadow: 0 0 0 10px rgba(58, 202, 45, 0);
		}
		100% {
			box-shadow: 0 0 0 0 rgba(58, 202, 45, 0);
		}
	}
}

@utility visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

@utility transition-primary {
	transition: all 0.2s ease-in-out;
}

@utility header-border-bottom {
	border-bottom: 1px solid #e5e5e5;
}

body {
	background: var(--color-light);
	color: var(--color-dark);
	font-family: var(--font-montserrat);
}
